body{
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.container{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #386641;
    padding: 10px;
    position: relative;
    touch-action: none;
}

#cake{
    background-color: #6A994E;
    background-image: url(./sweets_marzipan_cake.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
}

#cake-colors{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#cake-colors button{
    width: 35px;
    height: 35px;
}

#menu{
    width: 250px;
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#fruits{
    width: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #BC4749;
    padding: 20px 0;
    gap: 10px;
}

#fruits button{
    width: 70px;
    height: 70px;
    font-size: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruit{
    position: absolute;
    z-index: 0;
}

.moved{
    top: auto;
    left: auto;
}
