@font-face {
	font-family: 'Conv_WG_QuickHand';
	src: url('fonts/WG_QuickHand.eot');
	src: local('☺'), url('fonts/WG_QuickHand.woff') format('woff'), url('fonts/WG_QuickHand.ttf') format('truetype'), url('fonts/WG_QuickHand.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    box-sizing: content-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #386641;
    position: relative;
    touch-action: none;
}

#cake, #menu{
    height: inherit;
}

#cake{
    background-color: #6A994E;
    background-image: url(./whitecake.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: 37em;
}

#cake-colors{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#cake-colors button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;
}

#white{
    background-color: #FEFEE3;
}

#pink{
    background-color: #FFC9B9;
}

#brown{
    background-color: #D68C45;
}

#menu{
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #2C6849;
}

#fruits{
    width: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #BC4749;
    padding: 20px 0;
    gap: 10px;
}

#fruits button, #letters button{
    width: 1em;
    height: 1em;
    font-size: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: lightslategray solid 2px;
}

.fruit, .letter{
    color: black;
    position: absolute;
    z-index: 0;
    transform: scale(1) rotate(0) scaleX(1);
}

.fruit{
    width: 60px;
}

.letter{
    font-family: 'Conv_WG_QuickHand';
    font-size: 1.7em;
}

.moved{
    top: auto;
    left: auto;
    width: 80px;
    -webkit-text-stroke: white 3px;
}

#letters{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 3px;
    background-color: #BC4749;
    padding: 10px 5px 40px;
}


#letters button{
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    color: black;
}

#cake-colors, #rotate{
    width: 70%;
    border-color: black;
}

#flip, #clear{
    width: 50%;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    border-color: black;
    color: black;
}

#rotate{
    accent-color: #4C965C;
}

#flip{
    background-color: #A7C957;
}

#clear{
    background-color: #eb595b;
}

/* @media (max-width: 1080px) {
    #menu{
        width: 270px;
    }
} */
