body{
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #386641;
    position: relative;
    touch-action: none;
}

#cake{
    background-color: #6A994E;
    background-image: url(./sweets_marzipan_cake.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
    height: inherit;
}

#cake-colors{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#cake-colors button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: solid 2px;
    cursor: pointer;
}

#white{
    background-color: #FEFEE3;
}

#pink{
    background-color: #FFC9B9;
}

#brown{
    background-color: #D68C45;
}

#menu{
    width: 300px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #2C6849;
}

#fruits{
    width: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #BC4749;
    padding: 20px 0;
    gap: 10px;
}

#fruits button, #letters button{
    width: 90px;
    height: 90px;
    font-size: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruit, .letter{
    position: absolute;
    z-index: 0;
    transform: rotate(0) scaleX(1);
}

.moved{
    top: auto;
    left: auto;
}

#letters{
    width: fit-content;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 10px;
    background-color: #BC4749;
    padding: 10px;
}

#letters button{
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.letter{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cake-colors, #rotate{
    width: 70%;
}

#flip, #clear{
    width: 50%;
    padding: 10px;
    font-size: 2em;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

#rotate{
    accent-color: #4C965C;
}

#flip{
    background-color: #A7C957;
}

#clear{
    background-color: #eb595b;
}

@media (max-width: 1080px) {
    #menu{
        width: 270px;
    }
}
